services:
  mariadb:
    image: mariadb
    container_name: ${ENV}_Myfab_Db
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_DATABASE: ${DB_DATABASE}
    volumes:
      - ${VOLUMES_PATH}/myfab-tickets/mariaDB/:/var/lib/mysql
    networks:
      - myfab-internal-network

  back:
    image: ghcr.io/devinci-fablab/myfab-tickets-backend:latest
    restart: unless-stopped
    container_name: prod_Myfab_Back
    depends_on:
      - 'mariadb'
    volumes:
      - ${VOLUMES_PATH}/myfab-tickets/back/data/:/home/node/MyFab_Back/data/
      - ${VOLUMES_PATH}/myfab-tickets/back/logs/:/home/node/MyFab_Back/logs/
      - ./.env:/home/node/MyFab_Back/.env
    networks:
      - myfab-internal-network
      - traefik-network
    expose:
      - 5000
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=traefik-network'
      - 'traefik.http.routers.myfab.rule=Host(`${HOST}`) && PathPrefix(`/api/`)'
      - 'traefik.http.middlewares.myfabapi.stripprefix.prefixes=/api'
      - 'traefik.http.routers.myfab.entrypoints=websecure'
      - 'traefik.http.routers.myfab.tls.certresolver=myresolver'
      - 'traefik.http.services.myfab.loadbalancer.server.port=5000'
      - 'com.centurylinklabs.watchtower.enable=true'

  front:
    #    image: ghcr.io/devinci-fablab/myfab-tickets-frontend:latest
    build:
      context: front
      dockerfile: Dockerfile
    restart: unless-stopped
    container_name: prod_Myfab_Front
    depends_on:
      - 'back'
      - 'mariadb'
    volumes:
      - ./.env:/home/node/MyFab_Front/.env
    networks:
      - myfab-internal-network
      - traefik-network
    expose:
      - 3000
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=traefik-network'
      - 'traefik.http.routers.myfab.rule=Host(`${HOST}`)'
      - 'traefik.http.routers.myfab.entrypoints=websecure'
      - 'traefik.http.routers.myfab.tls.certresolver=myresolver'
      - 'traefik.http.services.myfab.loadbalancer.server.port=3000'
      - 'com.centurylinklabs.watchtower.enable=true'

networks:
  traefik-network:
    external: true
  myfab-internal-network:
    driver: bridge